h4 {
    font-family: 'Lemonada', cursive;
    text-align: center;
}

.intro-text {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

.card-img-top:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media only screen and (max-width: 1342px) {
    .imgheader{
        display: none;
    }
}