<div class="container-fluid">
    <div class="row" style="width: max-content;">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fsitechecker.pro%2F404-error%2F&psig=AOvVaw1-olH5L6CTm-6H9TbJDTqQ&ust=1581403508237000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKj19qmxxucCFQAAAAAdAAAAABAb"
        alt="PAGE NOT FOUND">
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="/"><button class="form-control btn">Go back Home</button></a>
        </div>
        <div class="col-md-4"></div>
    </div>    
</div>