<footer class="page-footer" style="background-color: #b0c0bc; color: #797270;">
    <div class="container">
        <div class="row mt-3 py-4 d-flex align-items-center">

            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
            </div>


            <div class="icons col-md-6 col-lg-7 text-center text-md-right">
                <a class="fb-ic ml-o">
                    <i class="fab fa-facebook-f white-text mr-4"></i>
                </a>
                <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"></i>
                </a>
                <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"></i>
                </a>
                <a class="ins-ic">
                    <i class="fab fa-instagram white-text mr-lg-4"></i>
                </a>
            </div>

        </div>
        <hr class="primary-color">
    </div>


    <div class="container">
        <div class="row mt-3 md-7">
            <div class="col-md-2 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    Your Account
                </h6>
                <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;">
                <p><a href="/authenticate/login">Log in</a></p>
                <p><a href="/authenticate/register">Sign up</a></p>
                <p><a href="/">Home</a></p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"></div>
            <div class="col-md-6 col-lg-3 col-xl-3">
                <p>We love it when you Pitch in!!</p>
            </div>
            <div class="col-md-3"></div>
        </div>


    </div>

    <div class="footer-copyright py-3 text-center">© 2020
        <a href=""> Mutugi Mutuma</a>
    </div>


</footer>