{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block title %}
{{super()}}
<title>Pitch</title>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/pitches.css')}}">
<link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<img src="https://dummyimage.com/1500x300/fafafa/181b47.png&text=PITCH+IT"
    alt="https://dummyimage.com/1500x300/fafafa/21266b.png&text=Pitch+It">
<div class="container">
    <div class="row intro-text">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Pitch is a crud application that allows a user to sign up and Post pitches, comment and view other
                pitches by users
            </p>
            <p class="text-center">
                Pitch in by submitting your pitches
                <a href="{{url_for('main.new_pitch')}}">
                    <input type="submit" class="btn btn-outline-primary" value="Submit a Pitch">
                </a>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="text-center">Pitch Categories</h2>
                <br>
                <div class="cardcontainer">
                    <div class="carded">
                        <h3 class="title">Promotion Pitches</h3>
                        <div class="bar">
                            <div class="emptybar"></div>
                        </div>
                    </div>
                    <div class="carded">
                        <h3 class="title">Project Pitches</h3>
                        <div class="bar">
                            <div class="emptybar"></div>
                        </div>
                    </div>
                    <div class="carded">
                        <h3 class="title">Pick up Lines</h3>
                        <div class="bar">
                            <div class="emptybar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <h4>All Pitches</h4>
    <hr>
    {{macro.displayPitches(pitches)}}
</div>
{% endblock %}